@import '../variables';

.btn {
    display: inline-block;
    padding: 5px 40px;
    background-color: $primary-color;
    font-family: $font-family;
    line-height: 3rem;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    color: white;
    transition: $transition;
    border-radius: $border-radius;

    &--small {
        padding: 0 20px;
        font-size: $font-size-text;
    }

    &:hover {
        background-color: $primary-hover-color;
    }

    outline: none;

    @include horizontal-mobile {
        font-size: 1.2rem;
        line-height: 2.5rem;

        &--small {
            padding: 0 20px;
            font-size: $small-font-size;
        }
    }

    @include mobile {
        font-size: 1rem;
        display: block;
        padding: 10px 30px;

        &--small {
            padding: 0 20px;
            font-size: $small-font-size;
        }
    }
}
