@import '../variables';

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;

  &__item {
    width: 250px;
    height: 150px;
    flex-shrink: 0;
    object-fit: contain;

    @include horizontal-mobile {
      width: 150px;
      height: 80px;
    }
  }
}