@import '../variables';

.content {
    margin: 50px auto;

    &__header {
        @include h1;
        margin-top: 80px;
        margin-bottom: 30px;
        color: $primary-color;

        &--h2 {
            @include h2;
            margin-top: 20px;
        }

        &--h3 {
            @include h3;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        @include horizontal-mobile {
            margin-top: 50px;

            &--h2 {
                margin-top: 20px;
            }

            &--h3 {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        @include mobile {
            margin-left: 20px;
            margin-right: 20px;

            &--h2 {
                margin: 20px 0;
            }

            &--h3 {
                margin: 20px 0;
            }
        }
    }

    &__block-text {
        margin: 30px 0;
        padding: 30px 30px;
        background-color: $back-color;
        font-family: $font-family;
        font-size: $font-size-text;
        line-height: $line-height-base;
        text-align: left;
        font-weight: 300;
        color: $font-color;

        @include horizontal-mobile {
            margin: 20px 0;
            padding: 20px 30px;
            font-size: $small-font-size;
            line-height: $small-font-line-height;
        }
    }

    &__big-text {
        @include big-text;
        text-align: left;

        &--link {
            text-decoration: underline;
            cursor: pointer;
        }

        a {
            color: $font-color;
        }
    }

    &__simple-text {
        @include plain-text;
        margin: 20px 0 0;
        text-align: left;

        &--stressed {
            @include stressed;
        }

        a {
            color: $font-color;
        }
    }

    &__img-container {
        margin: 20px 0;

        &--right {
            float: right;
            margin: 0 0 0 20px;

            @include mobile {
                width: 100%;
                text-align: center;
                margin: 20px 0;
                float: none;
            }
        }
    }

    &__img {
        width: 450px;
        height: 300px;

        @include mobile {
            width: 100%;
            max-width: 450px;
            max-height: 300px;
            height: auto;
        }
    }

    &__anchor-img {
        width: 150px;
        height: 150px;
    }

    &__list {
        padding-left: 30px;
    }

    &__li {
        @include plain-text;
        margin-bottom: 10px;
    }

    b {
        @include stressed;
    }
}