@import '../variables';

.contact-form {
    margin: 50px auto;

    &__status {
        font-family: $font-family;
        font-size: $font-size-text;
        line-height: $line-height-base;
        color: $font-color;
        font-weight: 300;

        @include horizontal-mobile {
            font-size: $small-font-size;
            line-height: $small-font-line-height;
        }

        @include mobile {
            text-align: center;
        }
    }

    &__text {
        display: block;
        width: 100%;
        @include plain-text;
        margin-bottom: 10px;
    }

    &__file-input {
        display: none;
    }

    &__file-btn {
        border: 1px solid $back2-color;
        background: $back1-color;
        border-radius: $border-radius;
        color: $font-color;
        line-height: 34px;
        display: block;
        cursor: pointer;
        padding: 8px 15px;
        margin-bottom: 30px;
        font-family: $font-family;
        font-size: $font-size-text;
        width: 50%;

        @include horizontal-mobile {
            width: 100%;
        }
    }

    &__field {
        &:hover {
            border: 1px solid $back1-color;
        }

        &--error {
            border: 1px solid #ff4a57;
        }

        &--textarea {
            padding-top: 5px;
            height: 200px;
            resize: none;
        }

        display: block;
        width: 50%;
        padding-left: 5px;
        border-radius: $border-radius;
        color: $font-color;
        font-size: $font-size-text;
        font-family: $font-family;
        font-weight: 300;
        outline: none;
        height: 50px;
        margin-bottom: 30px;
        border: 1px solid $back2-color;
        transition: border 0.3s ease-out;
        background-color: $back2-color;

        @include horizontal-mobile {
            width: 100%;
        }
    }
}