@import '../variables';

.header {
    background-color: #222;
    width: 100%;
    box-shadow: 0 0 10px $shadow-color;
    position: sticky;

    top: 0;
    z-index: 1;
    border-bottom: 1px solid $shadow-color;

    &__menu-wrapper {
        width: 900px;
        padding: 10px 0;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            width: 100%;
            padding: 10px 30px;
        }

        @include mobile {
            display: none;
        }
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        align-items: center;
        padding: 15px 0;

        @include tablet {
            padding: 10px 0;
        }

        @include horizontal-mobile {
            gap: 15px;
        }

        &--mobile {
            display: none;
            width: 100%;
            padding: 10px 20px;
            justify-content: space-between;
            align-items: center;

            @include mobile {
                display: flex;
            }
        }
    }

    &__menu-popup {
        position: fixed;
        padding-top: 70px;
        top: 0;
        left: 0;
        right: 0;
        background-color: $invert-back-color;
        overflow: hidden;
        height: 100%;
        transition: height 0.2s ease-in, padding-top 0.2s ease-in;

        &--hidden {
            height: 0;
            padding-top: 0;

        }
    }

    &__menu-popup-close {
        width: 50px;
        height: 50px;
        padding: 10px;
        position: absolute;
        filter: invert(1);
        right: 20px;
        top: 10px;
    }

    &__menu-mobile-icon {
        width: 50px;
        height: 45px;
        padding: 10px;
    }

    &__menu-item {
        font-family: $font-family;
        font-size: $font-size-text;
        font-weight: 400;
        color: $invert-font-color;
        text-decoration: none;
        transition: color 0.3s ease-in;

        &:hover {
            color: $font-hover-color;
        }

        &--mobile {
            display: block;
            text-align: center;
            padding: 20px;
        }
    }

    &__theme-toggle {
        &--mobile {
            margin-top: 30px;
            justify-content: center;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 20px;
        &--mobile {
            margin-top: 20px;
            justify-content: center;
        }
    }

    &__contact {
        height: 30px;
        width: 30px;
        display: block;

        img {
            height: 100%;
            object-fit: scale-down;
        }
    }
}
