@import '../variables';

.header {
    background-color: $back1-color;
    width: 100%;
    box-shadow: 0 0 10px $shadow-color;

    @include desktop {
        position: sticky;
    }

    top: 0;
    z-index: 1;
    border-bottom: 1px solid $shadow-color;

    &__menu-wrapper {
        width: 900px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            width: 700px;
        }

        @include horizontal-mobile {
            width: 500px;
        }

        @include mobile {
            display: none;
        }
    }

    &__menu {
        width: calc(100% - 220px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;

        @include tablet {
            padding: 18px 0;
        }

        @include horizontal-mobile {
            width: calc(100% - 150px);
        }

        &--mobile {
            display: none;
            width: 100%;
            padding: 10px 20px;
            text-align: right;

            @include mobile {
                display: block;
            }
        }

        &_mobile-icon {
            width: 30px;

            @media (prefers-color-scheme: dark) {
                filter: invert(100);
            }
        }
    }

    &__menu-item {
        font-family: $font-family;
        font-size: $font-size-text;
        font-weight: 400;
        color: $font-color;
        text-decoration: none;

        @include tablet {
            font-size: $small-font-size;
        }
    }
}
