@import '../variables';

.header {
    background-color: $back1-color;
    width: 100%;
    box-shadow: 0 0 10px $shadow-color;

    @include desktop {
        position: sticky;
    }

    top: 0;
    z-index: 1;
    border-bottom: 1px solid $shadow-color;

    &__menu-wrapper {
        width: 900px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            width: 700px;
        }

        @include horizontal-mobile {
            width: 500px;
        }

        @include mobile {
            display: none;
        }
    }

    &__menu {
        width: calc(100% - 220px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;

        @include tablet {
            padding: 18px 0;
        }

        @include horizontal-mobile {
            width: calc(100% - 150px);
        }

        &--mobile {
            display: none;
            width: 100%;
            padding: 10px 20px;
            text-align: right;

            @include mobile {
                display: block;
            }
        }
    }

    &__menu-popup {
        position: fixed;
        padding-top: 70px;
        top: 0;
        left: 0;
        right: 0;
        background-color: $back-color;
        overflow: hidden;
        height: 100%;
        transition: height 0.2s ease-in, padding-top 0.2s ease-in;

        &--hidden {
            height: 0;
            padding-top: 0;

        }
    }

    &__menu-popup-close {
        width: 50px;
        height: 50px;
        padding: 10px;
        position: absolute;
        right: 20px;
        top: 10px;
    }

    &__menu-mobile-icon {
        width: 50px;
        height: 45px;
        padding: 10px;
    }

    &__menu-item {
        font-family: $font-family;
        font-size: $font-size-text;
        font-weight: 400;
        color: $font-color;
        text-decoration: none;

        @include tablet {
            font-size: $small-font-size;
        }

        &--mobile {
            display: block;
            text-align: center;
            padding: 20px;
        }
    }
}

body.dark-theme .header__menu-mobile-icon {
    filter: invert(1);
}

body.dark-theme .header__menu-popup-close {
    filter: invert(1);
}

