@import '../variables';

.how-to-work {
    &__step {
        display: flex;
        gap: 10px;
        margin: 5px 0;
    }

    &__dig {
        @include big-text;
        @include stressed;
        margin: 0;
    }

    &__text {
        @include big-text;
        margin:0;
    }

    &__process {
        margin-bottom: 30px;
    }
}