@import '../variables';
.popup {
  display: none;

  &--open {
    display: block;
  }

  &__form {
    border-radius: $border-radius;

    &--narrow {
      max-width: 350px;
      left: calc(50% - 175px);

      @include mobile {
        max-width: none;
        width: 90%;
        left: 5%;
      }
    }

    &--wide {
      max-width: 500px;
      left: calc(50% - 250px);

      @include horizontal-mobile {
        width: 90%;
        max-width: none;
        left: 5%;
      }
    }

    width: 100%;
    position: absolute;
    padding: 0 20px 0;
    top: 100px;
    transition: top 0.3s ease-out;
    height: auto;
    overflow-y: auto;
    background: white;
    z-index: 20;
  }

  &__close {
    position: absolute;
    top: 15px;
    cursor: pointer;
    height: 15px;
    right: 15px;
    width: 15px;
  }

  &__header {
    @include big-text;
    margin: 20px 0;
  }

  &__content {
    margin: 20px 0;
  }

  &__overlay {
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}