@import '../variables';

.prices {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  @include horizontal-mobile {
    grid-template-columns: 1fr;
  }

  &__item {
    background: $back2-color;
    border-radius: $border-radius;
    padding: 15px;
  }

  &__item-title {
    @include h3;
    margin: 0 0 15px;
    color: $primary-color;
  }

  &__item-desc {
    @include plain-text;
    margin: 0 0 15px;
  }

  &__item-price {
    @include plain-text;
    margin: 0 0 15px;
    font-weight: 500;
  }
}