@import '../variables';

.prices {
  margin-top: 20px;

  &__item {
    display: grid;
    background: $back2-color;
    grid-template-columns: 1fr 3fr 1fr;
    border-radius: $border-radius;
    gap: 20px;
    margin-bottom: 10px;
    padding: 15px;
    transition: $transition;

    @include horizontal-mobile {
      display: block;
    }
  }

  &__item-title {
    @include big-text;
    @include stressed;
    margin: 0 0 15px;
  }

  &__item-desc {
    @include plain-text;
    margin: 0 0 15px;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__item-price {
    @include big-text;
    margin: 0 0 15px;
    font-weight: 500;

    @include mobile {
      margin: 0;
    }
  }

  &__item-accent {
    @include stressed;
    font-weight: 400;
  }
}