@import '../variables';

.theme-toggle {
  border: 1px solid $font-color;
  border-radius: 14px;
  height: 28px;
  width: 60px;
  background-color: $back-color;
  position: relative;

  &__container {
    display:flex;
    gap: 5px;
  }

  &__icon {
    width: 24px;
    height: 28px;
  }

  &__marker {
    border-radius: 10px;
    position: absolute;
    top: 3px;

    &--light {
      left: 3px;
    }

    &--dark {
      left: 34px;
    }

    transition: all 0.2s linear;
    background-color: $font-color;

    width: 20px;
    height: 20px;
  }
}

body.dark-theme .theme-toggle__icon {
  filter: invert(1);
}