{% extends 'base.html.twig' %}

{% block meta %}
    {% include 'common/parts/meta.html.twig' with {
        'title': 'CVs of specialists from our dedicated development team',
        'description': 'Hire us to build an app or a system for your business to grow. Our company specializing in mobile and web development can help you with the coding part.',
        'ogTitle': 'CVs of specialists from our dedicated development team',
        'ogDescription': 'Hire us to build an app or a system for your business to grow. Our company specializing in mobile and web development can help you with the coding part.',
        'ogImage': host ~ asset('build/images/main-og.webp')
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('our-cvs-page') }}
{% endblock %}

{% block content %}
    <section class="content">
        <h1 class="content__header">Our CVs</h1>
        <section class="cv">
            <h2 class="cv__title">Artem Burykin | fullstack&nbsp;developer, 14&nbsp;years experience</h2>
            <div class="cv__skills">
                <div class="cv__skill">JavaScript</div>
                <div class="cv__skill">TypeScript</div>
                <div class="cv__skill">PHP</div>
                <div class="cv__skill">Kotlin</div>
                <div class="cv__skill">Clojure</div>
                <div class="cv__skill">SQL</div>
                <div class="cv__skill">Angular</div>
                <div class="cv__skill">React.js</div>
                <div class="cv__skill">Symfony</div>
                <div class="cv__skill">Node.js</div>
            </div>
            <div class="cv__content">
                <p class="content__simple-text">
                    I am a software engineer, enthusiast, and an IT craftsman with more than 14 years of experience.
                </p>
                <p class="content__simple-text">
                    Most of the time, I work on web-based business projects.
                    My focus is always on creating flexible, scalable architectures for projects
                    and aligning the development process with the needs of the business.
                    I usually strive to write code in the most efficient
                    way possible to achieve the business goals.
                </p>
                <div class="content__img-container content__img-container--right">
                    <img class="cv__image" src="{{ asset('build/images/ava_artem.webp') }}" alt="Artem"/>
                </div>
                <p class="content__simple-text">
                    I am a fullstack developer with extensive knowledge and experience
                    in JavaScript (Angular, ReactJS, Node), PHP (Symfony).
                    Additionally, I have experience in Java, Kotlin, and Clojure.
                    I also have expertise in server administration and DevOps,
                    particularly in setting up systems using Docker Compose.
                </p>
                <p class="content__simple-text">
                    As a developer, I certainly have my own strengths and weaknesses.
                </p>
                <p class="content__simple-text">
                    One of my main weaknesses is the inability to work effectively
                    in a stressful environment or when I'm sick.
                    However, I make up for this by focusing on my strengths,
                    which include responsibility, business acumen, mindfulness, and personal effectiveness.
                </p>
                <p class="content__simple-text">
                    To ensure my effectiveness,
                    I continuously deepen my knowledge of programming languages, technologies, and principles.
                </p>
                <p class="content__simple-text">
                    Like every human being, I also have hobbies :) I enjoy dancing Argentine tango,
                    learning foreign languages, and contemplating the beauty of nature.
                </p>
            </div>
        </section>

        <section class="cv">
            <h2 class="cv__title">Vitaly Smagin | frontend&nbsp;developer, 3&nbsp;years experience</h2>
            <div class="cv__skills">
                <div class="cv__skill">JavaScript</div>
                <div class="cv__skill">TypeScript</div>
                <div class="cv__skill">Vue.js</div>
                <div class="cv__skill">HTML</div>
                <div class="cv__skill">CSS + SCSS</div>
                <div class="cv__skill">BEM</div>
                <div class="cv__skill">React.js</div>
                <div class="cv__skill">Webpack</div>
                <div class="cv__skill">jQuery</div>
            </div>
            <div class="cv__content">
                <p class="content__simple-text">
                    I have extensive experience in IT, having worked in various roles from servicedesk to system administration,
                    and eventually specialising as a frontend developer.
                </p>
                <p class="content__simple-text">
                    I am a team player with high soft skills and major business understanding and enjoy
                    solving complex problems.
                </p>
                <p class="content__simple-text">
                    I'm passionate about learning new technologies and improving my skills.
                </p>
            </div>
        </section>

        <section class="cv">
            <h2 class="cv__title">Alina Valevich | markup&nbsp;specialist, 3&nbsp;years experience</h2>
            <div class="cv__skills">
                <div class="cv__skill">SASS</div>
                <div class="cv__skill">CSS + HTML</div>
                <div class="cv__skill">BEM</div>
                <div class="cv__skill">Pixel-perfect</div>
            </div>
            <p class="content__simple-text">
                I'm a web markup specialist with over three years of experience,
                and I've been involved in book typesetting for more than 15 years.
                Over these years, I've developed a profound understanding of core markup concepts,
                allowing me to create pixel-perfect interfaces that are precise and smooth.
            </p>
            <p class="content__simple-text">
                As a specialist, I possess qualities such as responsibility,
                the ability to understand deeply what a customer needs, and a keen attention to detail.
            </p>
        </section>

        <section class="cv">
            <h2 class="cv__title">Andrey Ivanov | tester, content&nbsp;manager, 10&nbsp;years experience</h2>
            <div class="cv__skills">
                <div class="cv__skill">Agile</div>
                <div class="cv__skill">All testing methodologies</div>
                <div class="cv__skill">Linux</div>
                <div class="cv__skill">Wordpress</div>
                <div class="cv__skill">Joomla</div>
            </div>

            <p class="content__simple-text">I'm a system analyst, tester, and content manager with over ten years of experience.</p>
            <div class="content__img-container content__img-container--right">
                <img class="cv__image" src="{{ asset('build/images/cv_andrey.webp') }}" alt="Andrey"/>
            </div>
            <p class="content__simple-text">I have a deep understanding of business and the ability to solve diverse tasks that demand creative thinking. </p>
            <p class="content__simple-text">
                My extensive experience includes testing various applications and systems, ranging from standard websites
                and mobile apps to complex and intricate business systems and APIs.</p>
            <p class="content__simple-text">My hobby is water tourism, hiking, and exploring nature.</p>
        </section>

        <section class="cv">
            <h2 class="cv__title">Evgenya Zemlianskaya | fullstack&nbsp;developer, 10&nbsp;years of experience</h2>
            <div class="cv__skills">
                <div class="cv__skill">PHP</div>
                <div class="cv__skill">Javascript</div>
                <div class="cv__skill">Symfony</div>
                <div class="cv__skill">Zend Framework</div>
                <div class="cv__skill">Laravel</div>
                <div class="cv__skill">VueJS</div>
                <div class="cv__skill">Angular</div>
                <div class="cv__skill">PostgreSQL</div>
                <div class="cv__skill">MySQL</div>
            </div>
            <p class="content__simple-text">I'm a full-stack software engineer with over 10 years of experience
                specializing in developing and integrating information systems and services. </p>
            <p class="content__simple-text">My expertise includes:</p>
            <ul class="content__list">
                <li class="content__li">Creating CRM systems</li>
                <li class="content__li">Designing WMS systems</li>
                <li class="content__li">Developing process management systems</li>
                <li class="content__li">Building online stores</li>
                <li class="content__li">Crafting high-load systems and microservices</li>
            </ul>
            <p class="content__simple-text">
                As a developer, my strengths lie in my ability to tackle complex tasks,
                my extensive knowledge of various development approaches,
                and my commitment to creating efficient systems that deliver tangible business value.
            </p>
        </section>

        <section class="cv">
            <h2 class="cv__title">Andrey Nikonorov | fullstack&nbsp;developer, 5&nbsp;years experience</h2>
            <div class="cv__skills">
                <div class="cv__skill">HTML 5</div>
                <div class="cv__skill">CSS + SCSS</div>
                <div class="cv__skill">Twig</div>
                <div class="cv__skill">JavaScript</div>
                <div class="cv__skill">PHP</div>
                <div class="cv__skill">Symfony</div>
                <div class="cv__skill">Node.js</div>
                <div class="cv__skill">NestJs</div>
                <div class="cv__skill">Angular</div>
                <div class="cv__skill">SQL</div>
            </div>
            <p class="content__simple-text">
                I'm a software engineer, enthusiast with 5 years of experience,
                specializing in integrating and developing information systems and services.
            </p>
            <p class="content__simple-text">
                I'm also an experienced full-stack developer with a deep understanding of the development process.
            </p>
            <p class="content__simple-text">
                In addition to my core competencies, I have expertise in:
            </p>
            <ul class="content__list">
                <li class="content__li">Operating and configuring Linux OS servers</li>
                <li class="content__li">Administering and configuring Apache and Nginx web servers</li>
                <li class="content__li">Experience in website administration and development</li>
            </ul>
        </section>
    </section>
{% endblock %}
