{% extends 'base.html.twig' %}

{% block meta %}
    {% include 'common/parts/meta.html.twig' with {
        'title': 'AВЕ Системз | разработка приложений и веб-порталов',
        'description': 'Создадим веб-портал или приложение для вас. Просто и гибко!',
        'ogTitle': 'AВЕ Системз | разработка приложений и веб-порталов',
        'ogDescription': 'Создадим веб-портал или приложение для вас. Просто и гибко!',
        'ogImage': host ~ asset('build/images/main-og.webp')
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index-page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index-page') }}
{% endblock %}

{% block content %}
    <section class="offer">
        <h2 class="offer__desc">
            Хотите увеличить продажи или повысить узнаваемость бренда в интернете?
        </h2>
        <h1 class="offer__main">Мы создаем сайты и приложения, которые решают задачи  вашего бизнеса!</h1>

        <div class="offer__list">
           <div class="offer__list-item">
              <div class="offer__list-marker"></div>
               <div class="offer__list-text">Учитываем уникальные потребности вашей компании.</div>
           </div>
            <div class="offer__list-item">
                <div class="offer__list-marker"></div>
                <div class="offer__list-text">Вникаем и подбираем эффективные решения.</div>
            </div>
            <div class="offer__list-item">
                <div class="offer__list-marker"></div>
                <div class="offer__list-text">Хорошее соотношение цены и качества. <a href="#prices">Подробнее.</a></div>
            </div>
            <div class="offer__list-item">
                <div class="offer__list-marker"></div>
                <div class="offer__list-text">Бесплатная консультация!</div>
            </div>
        </div>

        <div class="btn offer__cta" id="offer-cta" data-trigger-popup-id="contact-form-popup">Обсудить проект</div>
    </section>

    <section class="main-block contact-me">
        {% include('common/parts/contact-form.html.twig') with {'formId': 'contact-form'} %}
    </section>

    {% embed 'common/parts/popup.html.twig' with {id: 'image-popup', modifier: 'wide'} only %}
        {% block popup_title %}{% endblock %}
        {% block popup_content %}
            <div id="image-preview" class="image-preview"></div>
        {% endblock %}
    {% endembed %}
{% endblock %}
