@import '../common/styles/fonts';
@import '../common/styles/variables';
@import '../common/styles/blocks/header';
@import '../common/styles/blocks/footer';
@import '../common/styles/blocks/content';
@import '../common/styles/blocks/popup';
@import '../common/styles/blocks/btn';
@import '../common/styles/blocks/_contact-form.scss';

body {
    margin: 0;
    min-height: 100vh;
    position: relative;
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 960px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;

    @include tablet {
        width: 100%;
    }
}
