{% extends 'base.html.twig' %}

{% block meta %}
    {% include 'common/parts/meta.html.twig' with {
        'title': 'Contacts of our dedicated development team',
        'description': 'Contact us, and we will help you to build an app or a system for your business to grow.',
        'ogTitle': 'Contacts of our dedicated development team',
        'ogDescription': 'Contact us, and we will help you to build an app or a system for your business to grow',
        'ogImage': host ~ asset('build/images/main-og.webp')
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contacts-page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contacts-page') }}
{% endblock %}

{% block content %}
    <section class="content">
        <h1 class="content__header">Contacts</h1>
        <p class="content__simple-text">Telegram: <a target="_blank" href="https://t.me/Avburykin" rel="nofollow">@avburykin</a></p>
        <p class="content__simple-text">Whatsapp: <a target="_blank" href="https://wa.me/995595109336" rel="nofollow">+995595109336</a></p>
        <p class="content__simple-text">Email: <a href="mailto: nisoartem@gmail.com">nisoartem@gmail.com</a></p>
    </section>
    {% include('common/parts/contact-form.html.twig') %}
{% endblock %}
