<div class="side-nav">
    {% for item in menu %}
    <div class="side-nav__item">
        <div class="side-nav__circle"></div>
        <a class="side-nav__text" href="{{ path(item.path) }}">{{ item.title }}</a>
    </div>

    <div class="side-nav__line"></div>
    {% endfor %}
</div>
