{% extends 'security/features/reset_password/reset_password_base.html.twig' %}

{% block meta %}
    {% include 'common/parts/meta.html.twig' with {
        'title': 'Your password reset',
        'description': '',
        'ogTitle': '',
        'ogDescription': '',
        'ogImage': ''
    } %}
{% endblock %}

{% block content %}
        <p class="reset-password__text">
            Your password successfully reset. Now you may <a href="{{ path('app_login') }}">log in</a>!
        </p>
{% endblock %}
