{% extends 'base.html.twig' %}

{% block meta %}
    {% include 'common/parts/meta.html.twig' with {
        'title': 'Blog | Artem Burykin',
        'description': 'Here I write about interesting topics',
        'ogTitle': 'Blog | Artem Burykin',
        'ogDescription': 'Here I write about interesting topics',
        'ogImage': host ~ asset('build/images/blog-og.png')
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('blog-page') }}
{% endblock %}

{% block content %}
    <section class="content">

    <h1 class="content__header">Blog</h1>
        {% include 'common/parts/posts.html.twig' with {'posts': posts, 'postUrl': 'app_post_page'} %}

    {% include 'common/parts/pagination.html.twig' with {
        'page': page,
        'pagination': pagination,
        'baseUrl': path('app_blog_page')
    } %}
    </section>
{% endblock %}
