{% extends 'base.html.twig' %}

{% block meta %}
    {% include 'common/parts/meta.html.twig' with {
        'title': 'Продукты - АВЕ Системз | Разработка программного обеспечения на заказ, поддержка проектов',
        'description': 'Продукты АВЕ Системз. Наши модули и приложения, решающие различные бизнес-задачи.',
        'ogTitle': 'Продукты - АВЕ Системз | Разработка программного обеспечения на заказ, поддержка проектов',
        'ogDescription': 'Продукты АВЕ Системз. Наши модули и приложения, решающие различные бизнес-задачи.',
        'ogImage': host ~ asset('build/images/main-og.webp')
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="content">
        <h1 class="content__header">Наши продукты</h1>
    </section>
{% endblock %}