$desktop: 1200px;
$tablet: 960px;
$horizontal-mobile: 768px;
$mobile: 650px;

$border-radius: 6px;

@mixin large-screen {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$desktop - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet - 1px}) {
        @content;
    }
}

@mixin horizontal-mobile {
    @media (max-width: #{$horizontal-mobile - 1px}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile - 1px}) {
        @content;
    }
}

:root {
    --font-color: #111;
    --invert-font-color: #fff;
    --background-color: #fff;
    --invert-background: #222;
    --primary-color: #5f6f52;
    --shadow-color: #ccc;
    --separator-color: #eee;
    --primary-hover-color: #a9b388;
    --font-hover-color: #888;
}

$primary-color: var(--primary-color);
$back-color: var(--background-color);
$font-color: var(--font-color);
$font-hover-color: var(--font-hover-color);
$primary-hover-color: var(--primary-hover-color);
$shadow-color: var(--shadow-color);
$invert-back-color: var(--invert-background);
$invert-font-color: var(--invert-font-color);
$separator-color: var(--separator-color);
$font-family: "Roboto";
$font-size-text: 1rem;
$line-height-base: 1.8rem;
$small-font-size: 0.9rem;
$small-font-line-height: 1.4rem;
$font-size-header: 1.8rem;
$box-shadow: 5px 5px 10px $shadow-color;
$transition: all 0.3s ease-out;

@mixin big-text {
    font-family: $font-family;
    font-size: 1.3rem;
    line-height: 140%;
    font-weight: 300;
    color: $font-color;

    @include horizontal-mobile {
        font-size: 1.2rem;
    }

    @include mobile {
        font-size: 1.1rem;
    }
}

@mixin plain-text {
    font-family: $font-family;
    font-size: $font-size-text;
    line-height: $line-height-base;
    font-weight: 300;
    color: $font-color;

    @include horizontal-mobile {
        font-size: $small-font-size;
        line-height: $small-font-line-height;
    }

}

@mixin stressed {
    font-weight: 500;
    color: $primary-color;
}

@mixin large-h1 {
    font-family: $font-family;
    font-size: 3rem;
    line-height: 120%;
    font-weight: 500;
    color: $font-color;

    @include tablet {
        font-size: 2.4rem;
    }

    @include horizontal-mobile {
        font-size: 2rem;
    }

    @include mobile {
        font-size: 1.4rem;
        text-align: center;
    }

}

@mixin h1 {
    font-family: $font-family;
    font-size: 2.3rem;
    font-weight: 400;
    color: $font-color;
    line-height: 2.4rem;

    @include tablet {
        font-size: 2rem;
        line-height: 2.1rem;
    }

    @include horizontal-mobile {
        font-size: 1.7rem;
        line-height: 1.8rem;
    }

    @include mobile {
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-align: center;
    }
}

@mixin h2 {
    font-family: $font-family;
    font-size: 2rem;
    font-weight: 400;
    color: $primary-color;
    line-height: 120%;

    @include tablet {
        font-size: 1.8rem;
    }

    @include horizontal-mobile {
        font-size: 1.4rem;
    }

    @include mobile {
        font-size: 1.4rem;
        text-align: center;
    }
}

@mixin h3 {
    font-family: $font-family;
    font-size: 1.5rem;
    font-weight: 400;
    color: $font-color;
    line-height: 120%;

    @include tablet {
        font-size: 1.3rem;
    }

    @include horizontal-mobile {
        font-size: 1.2rem;
    }

    @include mobile {
        text-align: center;
    }
}

@mixin h4 {
    font-family: $font-family;
    font-size: 1.2rem;
    font-weight: 400;
    color: $primary-color;
    line-height: 120%;

    @include tablet {
        font-size: 1.1rem;
    }

    @include horizontal-mobile {
        font-size: 1.1rem;
    }

    @include mobile {
        text-align: center;
    }
}
