$desktop: 1200px;
$tablet: 960px;
$horizonatal-mobile: 768px;
$mobile: 576px;

@mixin large-screen {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$desktop - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet - 1px}) {
        @content;
    }
}

@mixin horizontal-mobile {
    @media (max-width: #{$horizonatal-mobile - 1px}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile - 1px}) {
        @content;
    }
}

html {
    --font-color: #111;
    --background-color: #fff;
    --background-color-1: #eee;
    --background-color-2: #fafafa;
    --primary-color: #ffd800;
    --shadow-color: #ccc;
}

@media (prefers-color-scheme: dark) {
    html {
        --background-color: #23263a;
        --font-color: #fff;
        --primary-color: #ff4a57;
        --background-color-1: #212336;
        --shadow-color: #212336;
        --background-color-2: #2b2d41;
    }
}

$primary-color: var(--primary-color);
$back-color: var(--background-color);
$font-color: var(--font-color);
$shadow-color: var(--shadow-color);
$back1-color: var(--background-color-1);
$back2-color: var(--background-color-2);
$font-family: "Roboto";
$font-size-text: 1rem;
$line-height-base: 1.8rem;
$small-font-size: 0.9rem;
$small-font-line-height: 1.4rem;
$font-size-header: 1.8rem;